---
import { Header } from "@/components/app/Header";
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import { Hero } from "@/components/pages/Hero";
import { Facts } from "@/components/pages/Facts";
import { Packages } from "@/components/pages/Packages";
import { Services } from "@/components/pages/Services";
import { Faq } from "@/components/pages/Faq";
import { Contact } from "@/components/pages/Contact";
import { Footer } from "@/components/app/Footer";
---

<Layout title="Welcome to Astro.">
  <div class="bg-[url('/bg-test.jpg')] bg-cover h-screen relative">
    <div
      class="h-full w-full backdrop-blur-3xl bg-neutral-900/70 flex flex-col"
    >
      <Header />
      <Hero client:load />
    </div>
  </div>
  <Facts client:load />
  <Packages client:load />
  <Services client:load />
  <div class="bg-[url('/bg-test.jpg')] bg-cover relative">
    <div
      class="h-full w-full backdrop-blur-3xl py-24 bg-neutral-900/70 flex flex-col"
    >
      <Faq client:visible />
    </div>
  </div>
  <Contact client:visible />
  <Footer />
</Layout>
